<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><span class="titulo">GoNSA2</span> </a>
        </div>
        <div class="usuario btn-group">
            <button type="button" class="esquina" data-toggle="dropdown">
      <i class="user fas fa-user"></i></button>

            <ul class="dropdown-menu" role="menu">
                <li class="opcion"><a href="#">Perfil</a></li>
                <li class="opcion"><a href="#">Ayuda</a></li>
                <li class="divider"></li>
                <li class="opcion"><a href="#">Cerrar Sesión</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container-fluid page-body-wrapper">
    <div class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="card nav">
            <div class="card-body nav-item">
                <h5 class="card-title menu-title">Nombre principal tarea</h5>
                <h6 class="card-subtitle mb-2 text-muted menu-title">Info</h6>
                <p class=" card-text menu-title">Descripcion: lalalalalalalallalala</p>

            </div>
        </div>
    </div>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="purchace-popup">
                <div class="col-12">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Búsqueda...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 grid-margin stretch-card MenuResultados">
                    <!--tabla busqueda -->
                    <div class="card card-weather">
                        <div class="card-body">
                            <h2>Contenido principal</h2>
                            <li>
                                <p>pagina uno</p>
                            </li>
                            <li>
                                <p>pagina 2</p>
                            </li>
                        </div>
                    </div>

                    <!--tabla busqueda ends-->
                </div>
                <div class="text-center col-sm-4 grid-margin stretch-card MenuGuardado">
                    <!---tabla con informacion de guardado-->
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title mb-5">Cajon</h2>
                            <li>contenido</li>
                            <li>contenido</li>
                        </div>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>